*.o
*.bin
*.iso
*.img
*.elf
build-tools/bin
build-tools/src
docs/html
docs/latex
docs/Doxyfile
.DS_Store
user/init/init
user/init/test
newlib/

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.lof
*.lot
*.nav
*.snm
*.vrb
user/lua/lua-5.4.8.tar.gz
user/lua/lua-5.4.8/src/liblua.a